app:
  debug: true
  env: development
  port: 8080
postgresql:
  host: localhost
  port: 5432
  username: TP-O
  password: xxxxx
  database: client
  poolSize: 5
  rootCA: path/to/root-ca.crt
supabase:
  id:
  anonKey:
